<div class="flex min-h-screen justify-center items-center">
  <%= render 'layouts/nav' %>
  <section class="flex flex-1 w-full items-center justify-center">
    <%= render 'form' %>
  </section>
</div>
