<div class=" min-h-screen text-white flex justify-between bg-fixed bg-center bg-cover bg-no-repeat sm:bg-contain md:bg-cover lg:bg-contain xl:bg-cover bg-bg3 p-5 text-xl">

<div class="flex ">
<img src="assets/logo.png" alt="" class="h-7">
Reps
</div>

<div>
<%= link_to 'Login', new_user_session_path %>
<%= link_to 'Sign Up', new_user_registration_path %>
</div>

</div>