<nav class="bg-black min-h-screen text-white flex justify-center ">

<div class="flex">
<img src="assets/logo.png" alt="" class="h-7">
Reps
</div>
<%= link_to 'Login', new_user_session_path %>
<%= link_to 'Sign Up', new_user_registration_path %>

</nav>