
<div class="bg-bg min-h-screen text-white flex justify-center ">

<img src="assets/logo.png" alt="" class="h-10">
Reps

<%= link_to 'Login', new_user_session_path %>
<%= link_to 'Sign Up', new_user_registration_path %>

</div>